<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>后台管理首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 不支持IE8及以下版本浏览器 -->
    <!--[if lte IE 8]>
        <script>window.location.href="/plugns/killie/"</script>
    <![endif]-->
    <link href="/plugns/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/plugns/layer/layer.js"></script>
    <script src="/js/admin.js"></script>
    <style>
    body {
        background-image: url('/images/bj.png');
        background-repeat: repeat;
    }
    .navbar {
        z-index: 99;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 50px;
    }
    .navbar .container-fluid {
        height: 50px;
    }
    .navbar .navbar-let {
        line-height: 50px;
        margin: 0;
        float: left;
    }
    .navbar .navbar-right {
        line-height: 50px;
        margin: 0;
        float: right;
    }
    .navbar img {
        width: 24px;
        height: 24px;
    }
    .container {
        margin-top: 70px;
        margin-bottom: 40px;
    }
    .container>h3 {
        font-size: 28px;
        color: #999;
        margin-bottom: 35px;
    }
    .container textarea {
        resize: none;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <p class="navbar-text navbar-let">
                <a href="/">
            <img alt="MKOnlinePlayer_Admin" src="/favicon.ico">
          </a>
            </p>
            <p class="navbar-text navbar-right">
                <a href="javascript:;" class="navbar-link">退出登陆</a>
            </p>
        </div>
    </nav>
    <div class="container">
        <h3 align="center">MKOnlinePlayer_Admin</h3>
        <div class="user col-md-offset-2 col-sm-offset-1 col-md-8 col-sm-10 col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">用户管理</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="title">管理员用户名：</label>
                        <input type="text" class="form-control" id="username" value="<%= user.username %>">
                    </div>
                    <div class="form-group">
                        <label for="title">管理员密码：</label>
                        <input type="text" class="form-control" id="password" value="<%= user.password %>">
                    </div>
                    <hr>
                    <button type="button" class="update btn btn-success">保存</button>
                </div>
            </div>
        </div>
        <div class="index col-md-offset-2 col-sm-offset-1 col-md-8 col-sm-10 col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">首页管理</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="title">首页标题：</label>
                        <input type="text" class="form-control" id="title" value="<%= index.title %>">
                    </div>
                    <div class="form-group">
                        <label for="description">首页描述：</label>
                        <input type="text" class="form-control" id="description" value="<%= index.description %>">
                    </div>
                    <div class="form-group">
                        <label for="keywords">首页关键词：</label>
                        <input type="text" class="form-control" id="keywords" value="<%= index.keywords %>">
                    </div>
                    <div class="form-group">
                        <label for="logo_text">首页logo文本：</label>
                        <input type="text" class="form-control" id="logo_text" value="<%= index.logo_text %>">
                    </div>
                    <div class="form-group">
                        <label>首页公告是否显示：</label>
                        <select class="form-control" id="notice_show">
                          <option value="true" <%= index.notice_show ? "selected" : "" %>>开启</option>
                          <option value="false" <%= !index.notice_show ? "selected" : "" %>>关闭</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="notice">首页公告（可写html标签）：</label>
                        <textarea class="form-control" id="notice" rows="5"><%= index.notice %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="footer">首页底部信息（不显示）：</label>
                        <textarea class="form-control" id="footer" rows="5"><%= index.footer %></textarea>
                    </div>
                    <hr>
                    <button type="button" class="update btn btn-success">保存</button>
                </div>
            </div>
        </div>
        <div class="player col-md-offset-2 col-sm-offset-1 col-md-8 col-sm-10 col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">播放器配置</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="api">api地址（必填远程api，本地无法使用）：</label>
                        <input type="text" class="form-control" id="api" value="<%= player.api %>">
                    </div>
                    <div class="form-group">
                        <label for="loadcount">搜索结果一次加载多少条：</label>
                        <input type="text" class="form-control" id="loadcount" value="<%= player.loadcount %>" onkeyup="value=value.replace(/[^\d]/g,'')">
                    </div>
                    <div class="form-group">
                        <label for="method">数据传输方式（GET/POST)：</label>
                        <select class="form-control" id="method">
                          <option value="POST" <%= player.method == 'POST' ? "selected" : "" %>>POST</option>
                          <option value="GET" <%= player.method == 'GET' ? "selected" : "" %>>GET</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="defaultlist">默认显示的播放列表编号：</label>
                        <input type="text" class="form-control" id="defaultlist" value="<%= player.defaultlist %>" onkeyup="value=value.replace(/[^\d]/g,'')">
                    </div>
                    <div class="form-group">
                        <label for="autoplay">是否自动播放：</label>
                        <select class="form-control" id="autoplay">
                          <option value="true" <%= player.autoplay ? "selected" : "" %>>开启</option>
                          <option value="false" <%= !player.autoplay ? "selected" : "" %>>关闭</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="coverbg">是否开启封面背景：</label>
                        <select class="form-control" id="coverbg">
                          <option value="true" <%= player.coverbg ? "selected" : "" %>>开启</option>
                          <option value="false" <%= !player.coverbg ? "selected" : "" %>>关闭</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="mcoverbg">[移动端]是否开启封面背景：</label>
                        <select class="form-control" id="mcoverbg">
                          <option value="true" <%= player.mcoverbg ? "selected" : "" %>>开启</option>
                          <option value="false" <%= !player.mcoverbg ? "selected" : "" %>>关闭</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dotshine">播放进度条闪动效果：</label>
                        <select class="form-control" id="dotshine">
                          <option value="true" <%= player.dotshine ? "selected" : "" %>>开启</option>
                          <option value="false" <%= !player.dotshine ? "selected" : "" %>>关闭</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="mdotshine">[移动端]播放进度条闪动效果：</label>
                        <select class="form-control" id="mdotshine">
                          <option value="true" <%= player.mdotshine ? "selected" : "" %>>开启</option>
                          <option value="false" <%= !player.mdotshine ? "selected" : "" %>>关闭</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="volume">默认音量值(0~1之间)：</label>
                        <input type="text" class="form-control" id="volume" value="<%= player.volume %>">
                    </div>
                    <div class="form-group">
                        <label for="version">播放器当前版本号：</label>
                        <input disabled type="text" class="form-control" id="version" value="<%= player.version %>">
                    </div>
                    <div class="form-group">
                        <label for="debug">是否开启调试模式：</label>
                        <select class="form-control" id="debug">
                          <option value="true" <%= player.debug ? "selected" : "" %>>开启</option>
                          <option value="false" <%= !player.debug ? "selected" : "" %>>关闭</option>
                        </select>
                    </div>
                    <hr>
                    <button type="button" class="update btn btn-success">保存</button>
                </div>
            </div>
        </div>
        <div class="music_list col-md-offset-2 col-sm-offset-1 col-md-8 col-sm-10 col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">歌单管理</h3>
                </div>
                <div class="panel-body">
                    <% for (let i = 0; i < music_list.length; i++) { %>
                    <% if (!music_list[i].name) { %>
                    <form class="form-group">
                        <div class="form-group">
                            <label for="id_<%= music_list[i].id %>">网易云歌单ID：</label>
                            <input type="text" id="id_<%= music_list[i].id %>" class="id form-control" placeholder="请输入网易云歌单ID" value="<%= music_list[i].id %>" onkeyup="value=value.replace(/[^\d]/g,'')">
                        </div>
                        <div class="form-group">
                            <a type="button" class="link btn btn-info" href="https://music.163.com/#/playlist?id=<%= music_list[i].id %>" target="_blank">打开</a>
                            <button type="button" class="del btn btn-danger">删除</button>
                        </div>
                    </form>
                    <% } %>
                    <% } %>
                    <hr>
                    <button type="button" class="update btn btn-success">保存</button>
                    <button type="button" class="add btn btn-success">添加</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>